A {
	color: #CC0000;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
}
A:link {
	color: #CC0000;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
}
A:visited {
	color: #CC0000;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
}
A:active {
	color: #CC0000;
	font-family: Arial, Helvetica, sans-serif;
}
A:hover {
	color: #CC0000;
	text-decoration: underline;
	font-family: Arial, Helvetica, sans-serif;
}
body {
	background-color: #EFEFEF;
	font-family: Arial, Helvetica, sans-serif;
}
.hdr1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
}
.content1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
}
.content1smaller {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #333333;
}
.content1sm {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333333;
}
.contentlink1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333333;
	text-decoration: none;
}
a.contentlink1:link {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333333;
	text-decoration: none;
}
a.contentlink1:visited {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333333;
	text-decoration: none;
}
a.contentlink1:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	text-decoration: none;
}
a.contentlink1:active {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333333;
	text-decoration: none;
}
.footer {
	color: #666666;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	background-color: #D6CE84;
	letter-spacing: 1pt;
}
a.footer:link {
	color: #666666;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	text-decoration: none;
}
a.footer:visited {
	color: #666666;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	text-decoration: none;
}
a.footer:hover {
	color: #FF0000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	text-decoration: none;
}
.maintable {
	padding: 0px 0px 0px 0px;
	border: 1px #000000;
	border-color: #000000 #000000 #000000 #000000;
	border-left: 1px;
	border-left-width: 1px;
	border-right: 1px;
	border-right-width: 1px;
	border-style: solid solid solid solid;
	border-width: 1px 1px 1px 1px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	}
.sidehdr {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #333333;
	font-weight: bold;
}
.sidecontent {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #333333;
}
.sidelinks {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #333333;
	line-height: 16px;
}
.content2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #333333;
	line-height: 14px;
}
input {
	background-color: #FFFFFF;
	color: #000000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
}
input.checkbox {
	background-color: #FFFFFF;
	border: 0px none;
	font-size: 8px;
}
textarea {
	background-color: #FFFFFF;
	color: #000000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
}
select {
	background-color: #FFFFFF;
	color: #000000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
}
.searchYellow {
	background-color: #D6CE84;
	color: #333333;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	border: 1px solid #999999;
}
.captlink {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #4D3300;
	text-decoration: none;
}
a.captlink:link {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #4D3300;
	text-decoration: underline;
}
a.captlink:visited {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #4D3300;
	text-decoration: underline;
}
a.captlink:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	text-decoration: underline;
}
a.captlink:active {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #4D3300;
	text-decoration: underline;
}
.subhdr {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #000000;
	line-height: 14px;
}
.bluesm {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #2E5D8B;
	text-decoration: none;
	line-height: 14px;
}
a.bluesm:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #2E5D8B;
	text-decoration: underline;
	line-height: 14px;
}
a.bluesm:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #2E5D8B;
	text-decoration: underline;
	line-height: 14px;
}
a.bluesm:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #1B344B;
	text-decoration: underline;
	line-height: 14px;
}
a.bluesm:active {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #2E5D8B;
	text-decoration: underline;
	line-height: 14px;
}
.bluemed {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #2E5D8B;
	text-decoration: none;
	line-height: 14px;
}
a.bluemed:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #2E5D8B;
	text-decoration: underline;
	line-height: 14px;
}
a.bluemed:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #2E5D8B;
	text-decoration: underline;
	line-height: 14px;
}
a.bluemed:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #1B344B;
	text-decoration: underline;
	line-height: 14px;
}
a.bluemed:active {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #2E5D8B;
	text-decoration: underline;
	line-height: 14px;
}
.bluelg {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #2E5D8B;
	text-decoration: none;
	line-height: 14px;
}
a.bluelg:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #2E5D8B;
	text-decoration: underline;
	line-height: 14px;
}
a.bluelg:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #2E5D8B;
	text-decoration: underline;
	line-height: 14px;
}
a.bluelg:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #1B344B;
	text-decoration: underline;
	line-height: 14px;
}
a.bluelg:active {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #2E5D8B;
	text-decoration: underline;
	line-height: 14px;
}
.greysm {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #666666;
	text-decoration: none;
	line-height: 14px;
}
a.greysm:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #666666;
	text-decoration: underline;
	line-height: 14px;
}
a.greysm:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #666666;
	text-decoration: underline;
	line-height: 14px;
}
a.greysm:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #333333;
	text-decoration: underline;
	line-height: 14px;
}
a.greysm:active {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #666666;
	text-decoration: underline;
	line-height: 14px;
}
.greymed {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #666666;
	text-decoration: none;
	line-height: 14px;
}
a.greymed:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #666666;
	text-decoration: underline;
	line-height: 14px;
}
a.greymed:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #666666;
	text-decoration: underline;
	line-height: 14px;
}
a.greymed:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333333;
	text-decoration: underline;
	line-height: 14px;
}
a.greymed:active {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #666666;
	text-decoration: underline;
	line-height: 14px;
}
.greylg {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #666666;
	text-decoration: none;
	line-height: 14px;
}
a.greylg:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #666666;
	text-decoration: underline;
	line-height: 14px;
}
a.greylg:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #666666;
	text-decoration: underline;
	line-height: 14px;
}
a.greylg:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	text-decoration: underline;
	line-height: 14px;
}
a.greylg:active {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #666666;
	text-decoration: underline;
	line-height: 14px;
}
.whitesm {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FFFFFF;
	text-decoration: none;
	line-height: 14px;
}
a.whitesm:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FFFFFF;
	text-decoration: none;
	line-height: 14px;
}
a.whitesm:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FFFFFF;
	text-decoration: none;
	line-height: 14px;
}
a.whitesm:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FFFFFF;
	text-decoration: underline;
	line-height: 14px;
}
a.whitesm:active {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FFFFFF;
	text-decoration: none;
	line-height: 14px;
}
.whitemed {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	text-decoration: none;
	line-height: 14px;
}
a.whitemed:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	text-decoration: none;
	line-height: 14px;
}
a.whitemed:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	text-decoration: none;
	line-height: 14px;
}
a.whitemed:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	text-decoration: underline;
	line-height: 14px;
}
a.whitemed:active {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	text-decoration: none;
	line-height: 14px;
}
.whitelg {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	text-decoration: none;
	line-height: 14px;
}
a.whitelg:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	text-decoration: none;
	line-height: 14px;
}
a.whitelg:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	text-decoration: none;
	line-height: 14px;
}
a.whitelg:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	text-decoration: underline;
	line-height: 14px;
}
a.whitelg:active {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	text-decoration: none;
	line-height: 14px;
}
.blacksm {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
	text-decoration: none;
	line-height: 14px;
}
a.blacksm:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
	text-decoration: underline;
	line-height: 14px;
}
a.blacksm:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
	text-decoration: underline;
	line-height: 14px;
}
a.blacksm:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #333333;
	text-decoration: underline;
	line-height: 14px;
}
a.blacksm:active {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
	text-decoration: underline;
	line-height: 14px;
}

.blackmed {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	text-decoration: none;
	line-height: 14px;
}
a.blackmed:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	text-decoration: underline;
	line-height: 14px;
}
a.blackmed:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	text-decoration: underline;
	line-height: 14px;
}
a.blackmed:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333333;
	text-decoration: underline;
	line-height: 14px;
}
a.blackmed:active {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	text-decoration: underline;
	line-height: 14px;
}
.redlg {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #dd0000;
	text-decoration: none;
	line-height: 14px;
}
.blacklg {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #000000;
	text-decoration: none;
	line-height: 14px;
}
a.blacklg:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	text-decoration: underline;
	line-height: 14px;
}
a.blacklg:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	text-decoration: underline;
	line-height: 14px;
}
a.blacklg:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	text-decoration: underline;
	line-height: 14px;
}
a.blacklg:active {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	text-decoration: underline;
	line-height: 14px;
}

.error {
	color: #CC0000;
	font-weight: bold;

}
.contentspace {
	padding: 18px;
}


/* drop shadow: thanks alist apart! http://alistapart.com/articles/cssdropshadows/ */
.p-shadow {
	font-size:11px;
	color:#666;
	float:left;
	background: url(images/css_shadowAlpha.png) no-repeat bottom right !important;
	background: url(images/css_shadow.gif) no-repeat bottom right;
	margin: 10px 0 0 10px !important;
	margin: 10px 0 0 5px;
}

* html .p-shadow {
	margin: 10px 0 0 5px !important;
	margin: 10px 0 0 5px;
}

.p-shadow div {
	background: none !important;
	background: url(images/css_shadow2.gif) no-repeat left top;
	padding: 0 !important;
	padding: 0 10px 10px 0;
}
* html .p-shadow div { padding: 0 6px 6px 0; }

.p-shadow p {
	color: #777;
	background-color: #fff;
	border: 1px solid #ccc;
	padding: 5px;
	margin: -6px 6px 6px -6px !important;
	margin: 0;
}

.vs_button {
	color: #333333;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: bold;
	height: 21px;
	border-top: 1px #CCCCCC solid;
	border-left: 1px #CCCCCC solid;
	border-right: 1px #CCCCCC solid;
	border-bottom: 1px #CCCCCC solid;
	background-image: url(images/vs_button.jpg);
	cursor: hand;
	cursor:pointer;
}
.vs_off {
	color: #999999;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: bold;
	height: 21px;
	border-top: 1px #CCCCCC solid;
	border-left: 1px #CCCCCC solid;
	border-right: 1px #CCCCCC solid;
	border-bottom: 1px #CCCCCC solid;
	background-image: url(images/vs_off.jpg);
	cursor: hand;
	cursor:pointer;
}

.tabOn {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	background-color: #F7E5BC;
	color: #000000;
	text-decoration: none;
	line-height: 14px;
}

.tabOff {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #222222;
	background-color: #EEEEEE;
	text-decoration: none;
	line-height: 14px;
}

.tabOver {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #0C339A;
	text-decoration: none;
	line-height: 14px;
	cursor: hand;
	cursor:pointer;
}

.highlight {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 11px;
	line-height: 120%;
	color: #FFFFFF;
	background-color: #C3006A;
	cursor: hand;
	cursor:pointer;
}

.highlight a {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 11px;
	line-height: 120%;
	color: #FFFFFF;
	background-color: #C3006A;
	cursor: hand;
	cursor:pointer;
}

.special {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 11px;
	line-height: 120%;
	color: #000000;
	background-color: #F1F1CD;
}

.white {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 11px;
	line-height: 120%;
	color: #000000;
	background-color: #FFFFFF;
}
.red {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 11px;
	line-height: 120%;
	color: #000;
	background-color: #EB6E5A;
}
.yellow {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 11px;
	line-height: 120%;
	color: #000;
	background-color: #EFC15D;
}
.green {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 11px;
	line-height: 120%;
	color: #000;
	background-color: #74C868;
}

/* calendar report */

.calendarHeader {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	line-height: 100%;
	margin-top: 0;
}

.calendarHeaderDates {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	line-height: 100%;
	margin-top: 0;
}

.giantNumbers {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: bold;
	line-height: 100%;
	margin-top: 0;
}

.largeNumbers {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 95%;
	margin-top: 0;
}

.largeDates {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 100%;
	font-weight: bold;
	margin-top: 0;
}

.smallStuff {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	line-height: 10px;
	margin-top: 0;
}

.tinyStuff {
	font-family: Arial, Helvetica, sans-serif;
	font-size: .5em;
	line-height: 10px;
	margin-top: 0;
}

.reallyTinyStuff {
	font-family: Arial, Helvetica, sans-serif;
	font-size: .4em;
	line-height: 10px;
	margin-top: 0;
}
 /* end calendar report */

#container {
   position: absolute;
}

#translucentbkg {
   background-color: #ffffff;       /* the background              */
   filter:alpha(opacity=70);
   -moz-opacity:0.7;
   opacity: 0.7;
}

#opaquetext {
   background-color: transparent;   /* transparent background      */
   position: absolute;              /* absolute positioning        */
   z-index: 2;                      /* place it over the other DIV */
}.highlight_yellow {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 11px;
	line-height: 120%;
	color: #FF0000;
	background-color: #FFFFFF;
	cursor: hand;
	cursor:pointer;
}
