RewriteEngine On
Options +FollowSymLinks
#AddType application/x-httpd-php5 .php5 .php .php3 .php2 .phtml

RewriteCond %{SERVER_PORT} 80
RewriteRule ^(.*)$ https://lodgegis.customphpdesign.com/$1 [R,L]

RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f

# One param
# IE: search

RewriteRule ^/?([^/]*)$ index.php?section=$1 [NC,L]

# reservationID/contactID/inventoryID/gisPassword
RewriteRule ^([a-zA-Z0-9]+)/([a-zA-Z0-9]+)/([a-zA-Z0-9]+)/([a-zA-Z0-9]+)/?$ index.php?section=gis&reservationID=$1&contactID=$2&inventoryID=$3&gisPW=$4

