<html>
<head>
<title>Payment Policy</title>
</head>
<body>


<b>PAYMENT POLICY</b>
<br><br>
Individuals : 40% of the charter rate is due within 14 days of the reservation. For online reservations, payment is due at the time of reservation. Final payment is due ninety (90) days prior to departure date. 
<br><br>
Groups (half yacht or more): A non-refundable, non-transferable deposit of $1,500 accompanied by a signed contract is required within 14 days of the reservation. Nine (9) months prior to departure date, an additional non-refundable, non-transferable deposit of $3,500 deposit is due. Six (6) months prior to departure, 40% of the charter funds are due. Final payment is due ninety (90) days prior to departure date. 
<br><br>
<b>CANCELLATION POLICY</b>
<br><br>
Individuals: If a cancellation is made: 
<br><br>
1. 121 days or more prior to departure, 20% of the charter rate is forfeited.<br>
2. 120 - 91 days prior to departure, 40% of the charter rate is forfeited.<br>
3. 90 days or less prior to departure, 100% of the charter rate is forfeited and no refund is available.<br>
<br><br>
Groups (half yacht or more): If an entire charter is cancelled:<br>
1. More than nine (9) months prior to departure, the $1,500 deposit is forfeited.<br>
2. Nine (9) months to 181 days prior to departure, the $5,000 deposit is forfeited.<br>
3. 180 - 91 days prior to departure, 40% of the group charter rate is forfeited.<br>
4. 90 days or less prior to departure, 100% of the charter rate is forfeited and no refund is available.<br>
<br><br>
Groups (half yacht or more): If the number of passengers is reduced from original group reservation:<br>
1. More than nine (9) months prior to departure, the reservation may be reduced down to one paying passenger which will result in loss of complimentary space (s).<br>
2. Nine (9) months to 181 days prior to departure, 20% of the charter rate per passenger cancelled is forfeited, and there is a reduction/loss of free space(s).<br>
3. 180 - 91 days prior to departure, 40% of the charter rate per passenger cancelled is forfeited and there is a reduction/loss of free space(s).<br>
4. 90 days or less prior to departure, 100% of the charter rate per person is forfeited and there is a reduction/loss of free space(s).<br>
<br><br>
<b>PAYMENTS </b>
<br><br>
WayneWorks Marine, LLC DBA Aggressor Fleet accepts Visa and MastarCard. Checks shall be made payable to Aggressor Fleet. When making payments by wire or check, please include your trip confirmation number. Online reservations can only be paid by credit card. Reservations made ninety (90) days prior to departure date will require full payment made by credit card or certified USD funds.<br>
<br>
<ul>
	<li>Please notify the agent of any discounts or vouchers at the time of booking. Notification within ninety (90) days or less from departure date will result in forfeiture of discount.</li>
	<li>When multiple discounts apply, only the most generous will be applied to the charter rate.</li>
	<li>Agent commissions will be reduced by 3% of amount charged if paying with credit card.</li>
	<li>Add-ons are non-commissionable.</li>
	<li>Taxes and fees apply to all passengers.</li>
	<li>Returned checks will be charged a $25 fee.</li>
	<li>All cancellations or revisions to a reservation must be in writing.</li>
</ul>
<br>
<b>GUEST INFORMATION SYSTEM</b>
<br><br>
The Guest Information System (GIS) is a required process of your reservation. Each guest travelling must complete their GIS profile which includes the charter application and a waiver agreement prior to charter departure. Failure to complete this in full will result in denied boarding. <br>
<br>
<b>INSURANCE</b>
<br><br>
In the event of unexpected changes in your travel plans we highly recommend the purchase of insurance for Trip Cancellation & Interruption, Dive Accident, Medical, and Baggage.<br>
<br>
* ALL PRICES QUOTED ARE IN USD
<br>

</body>
</html>
